<h1 #scroll> Focus on load </h1>
<hr>

<p>
  Regex Directive when applied to input element restricts the user form entering anything other than the regex.
</p>

<div class="col-md-12 pl-0">
  <ngx-prism [language]="cssLanguage">
    {{regexContent}}
  </ngx-prism>
</div>

<p> This Example allows user to enter 2 two numeric characters only. Alphanumeric strings and special characters are not allowed.</p>
<p> <b>Example:</b> <br>
  !#@%^12#%@^ should display 12 only.<br>
  Design12system shpuld display 12 only.
</p>

<div class="row row-previous-next pl-0">
  <div class="col-lg-10">
    <span [routerLink] = "['/phonemask']"> <i class="fa fa-chevron-left"></i> Previous: <b>Phone mask</b> </span>
    <span [routerLink] = "['/numeric']" class="pull-right"> Next: <b>Numeric</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
