.sidebar {
    //position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    color: #fff;
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: 2.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.eqrs-primary-darkest {
    background: #112e51;
}

.sidebar a {
	color: #fff;
}

.sidebar-heading span {
    font-weight: 700;
}

.nav-item-active {
    background: #0071bc;
    border-left: 5px solid #fff;
}

.child-nav-items {
    background: #183a60;
    color: #fff;
}

.nav-link {
    border-bottom: 1px solid #777;
    font-weight: 500;
    cursor: pointer;
    padding: 1rem;
}

.nav-link:hover {
    background: #183a60;
}

.child-nav-items div {
    padding: 0.4rem 0 0.4rem 1.7rem;
    cursor: pointer;
}

.child-nav-items div:hover {
    background: #112e51;
    border-left: 5px solid #fff;
}

a:hover {
  text-decoration: none;
}
