<style>
* { color: #323a45;
	background-color: smokewhite;
  font-family: Source Sans Pro, Arial, Helvetica, sans-serif;
}

.table, th {
  border: 1px solid #205493;
  background-color:#205493;
  padding-top: 12px;
  padding-bottom: 12px;
  overflow: visible
  width: 100%;
  color: whitesmoke;
}

.tr {
	color: #323a45;
  width: 100%;
  border-spacing: 5px;
  padding:8px;
}

tr:nth-child(odd) {background:  #f1f1f1 }
tr:nth-child(even) {background: smokewhite}



</style>
