<h1 #scroll> Progress indicator </h1>
<hr>

<p>Progress Circle Component used to display progress with a fraction in the center. The component uses angular material library.</p>

<!--<img src="../../../../assets/images/circle1.PNG">-->
<div>
  <div class="col-md-12 pl-0">
    <ngx-prism [language]="htmlLanguage">
      {{progressContent}}
    </ngx-prism>
  </div>
</div>


<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/modal']"> <i class="fa fa-chevron-left"></i> Previous: <b>Modal</b> </span>
    <span [routerLink] = "['/radiobutton']" class="pull-right"> Next: <b>Radio Button</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
