<h1 #scroll> Buttons </h1>
<hr>

<p> Use descriptive words that clearly state the action of the button, avoiding vague wording like <i>yes</i> or <i>no</i>. </p>


<div class="card col-md-10">
  <div class="card-body">
    <h4 class="pt-0 pb-3">Primary button</h4>
  	<div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-primary">Submit</button>
      <p class="notes">eqrs-button-primary</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-primary primary-hover">Submit</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-primary primary-active">Submit</button>
    </div>
</div> <!-- row ends here -->


<button class="btn code-button mt-2 pull-right" (click) = "primaryButtonShow = !primaryButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

     <div class="col-md-12 code-block">
          <div>
          <div *ngIf="primaryButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{primaryButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

  </div>
</div>  <!-- card ends here -->



  <div class="card col-md-10">
  <div class="card-body">
    <h4 class="pt-0 pb-3">Secondary button</h4>
  <div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-secondary">Cancel</button>
      <p class="notes">eqrs-button-secondary</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-secondary eqrs-button-secondary-hover">Cancel</button>
    </div>
    <!--  -->
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-secondary eqrs-button-secondary-active">Cancel</button>
    </div>
  </div>

<button class="btn code-button mt-2 pull-right" (click) = "secondaryButtonShow = !secondaryButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

  <div class="col-md-12 code-block">
          <div>
          <div *ngIf="secondaryButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{secondaryButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>



<div class="card col-md-10">
  <div class="card-body">
    <h4 class="pt-0 pb-3">Accent button</h4>
<div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-accent">Submit</button>
      <p class="notes">eqrs-button-accent</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-accent accent-hover">Submit</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-accent accent-active">Submit</button>
    </div>
  </div>

<button class="btn code-button mt-2 pull-right" (click) = "accentButtonShow = !accentButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

<div class="col-md-12 code-block">
          <div>
          <div *ngIf="accentButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{accentButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>



  <div class="card col-md-10">
  <div class="card-body">
    <h4 class="pt-0 pb-3">Destructive action (non-recoverable)</h4>
  <div class="row">
    <div class="col-md-2">
      <p>Default</p>
      <button class="eqrs-button-destructive">Delete</button>
      <p class="notes">eqrs-button-destructive</p>
    </div>
    <div class="col-md-2">
      <p>Hover</p>
      <button class="eqrs-button-destructive eqrs-button-destructive-hover">Delete</button>
    </div>
    <div class="col-md-2">
      <p>Active</p>
      <button class="eqrs-button-destructive eqrs-button-destructive-active">Delete</button>
    </div>
  </div>

  <button class="btn code-button mt-2 pull-right" (click) = "destructiveButtonShow = !destructiveButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

<div class="col-md-12 code-block">
          <div>
          <div *ngIf="destructiveButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{destructiveButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>



  <div class="card col-md-10">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Disabled button</h4>
  <div>
    <button class="eqrs-button-primary col-xs-12 col-md-3 col-lg-3" disabled="">Disabled button</button>
    <sup>*Note hover state</sup>
  </div>

<button class="btn code-button mt-2 pull-right" (click) = "disabledButtonShow = !disabledButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

  <div class="col-md-12 code-block">
          <div>
          <div *ngIf="disabledButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{disabledButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>


    <div class="card col-md-10">
    <div class="card-body">
  <h4 class="pt-0 pb-3">Example layout 1</h4>
  <div class="row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-destructive">Delete</button>
    </div>
    <div class="col-12 col-sm-3 col-md-2 offset-md-2 col-lg-2 offset-lg-2">
      <button class="eqrs-button-secondary">Cancel</button>
    </div>
    <!--   <span class="button-layout-submit-line"></span> -->
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-primary">Save</button>
    </div>
    <!-- <span class="button-vertical-line"></span> -->
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-accent" disabled="">Submit</button>
    </div>
  </div>
  <div class="row">
    <p class="notes  offset-md-4">Place primary call to action to the right of other buttons and away from destructive wherever possible.</p>
  </div>

 <button class="btn code-button mt-2 pull-right" (click) = "exlayout1ButtonShow = !exlayout1ButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

<div class="col-md-12 code-block">
          <div>
          <div *ngIf="exlayout1ButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{exlayout1ButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>


<div class="card col-md-10">
  <div class="card-body">
<h4 class="pt-0 pb-3">Example layout 2</h4>
<div class="row">
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-secondary focus">Cancel</button>
    </div>
    <div class="col-12 col-sm-3 col-md-2 col-lg-2">
      <button class="eqrs-button-destructive">Delete</button>
    </div>
  </div>
  <p class="notes">Avoid placing initial focus on a destructive action.</p>

 <button class="btn code-button mt-2 pull-right" (click) = "exlayout2ButtonShow = !exlayout2ButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

<div class="col-md-12 code-block">
          <div>
          <div *ngIf="exlayout2ButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{exlayout2ButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>




<div class="card col-md-10">
  <div class="card-body">
  <h4>Buttons as links</h4>
  <p>For use as a minor page interaction when user remains on page after clicking.</p>
  <p><button class="eqrs-edit-link">This is a button not a link</button> </p>


<button class="btn code-button mt-2 pull-right" (click) = "buttonlinksButtonShow = !buttonlinksButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

  <div class="col-md-12 code-block">
          <div>
          <div *ngIf="buttonlinksButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{buttonlinksButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

</div>
</div>



<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/alerts']"> <i class="fa fa-chevron-left"></i> Previous: <b>Alerts</b> </span>
    <span [routerLink] = "['/checkbox']" class="pull-right"> Next: <b>Checkbox</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>

</div>





