h4 {
    font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
    color: #323a45;
}

.primary {
    background-color: #0071bc;
}

.primary-darker {
    background-color: #205493;
}

.primary-darkest {
    background-color: #112e51;
}

.secondary {
    background-color: #5b616b;
}

.secondary-darker {
    background-color: #323a45;
}

.accent {
    background-color: #fdb81e;
}

.disabled {
    background-color: #d6d7d9;
}

.destructive {
    background-color: #cd2026;
}

.destructive-darker {
    background-color: #981b1e;
}

.text {
    background-color: #323a45;
}

.background {
    background-color: #f1f1f1;
}

.background-alt {
    background-color: #f3fafe;
}

.focus-color {
    background-color: #3e94cf;
}

.visited {
    background-color: #4c2c92;
}

.info {
    background-color: #e1f3f8;
}

.error {
    background-color: #f9dede;
}

.warning {
    background-color: #fff1d2;
}

.success {
    background-color: #e7f4e4;
}



.color-swatch {
    width: 200px;
    height: 100px;
    margin-right: 50px;
    margin-top: 10px;
}

.eqrs-detail-copy {
    font-size: .77rem;
}

.row-no-flex {
    display: inline;
}





























