<h1 #scroll> Colors </h1>
<hr>

<!-- PRIMARY COLORS -->

<div class="row row-no-flex">
    <h4>Primary colors</h4>
    <p>Use for all positive action buttons and links.</p>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch primary"></div>
        <p class="eqrs-detail-copy">#0071bc<br> $eqrs-primary-color
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch primary-darker"></div>
        <p class="eqrs-detail-copy">#205493<br> $eqrs-primary-darker
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch primary-darkest"></div>
        <p class="eqrs-detail-copy">#112e51<br> $eqrs-primary-darkest
        </p>
      </div>
    </div>
</div>


<!-- SECONDARY COLORS -->

<div class="row row-no-flex">
    <h4>Secondary colors</h4>
    <p> Use for all secondary action buttons. </p>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch secondary"></div>
        <p class="eqrs-detail-copy">#5b616b<br> $eqrs-secondary-color
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch secondary-darker"></div>
        <p class="eqrs-detail-copy">#323a45<br> $eqrs-secondary-darker
        </p>
      </div>
    </div>
</div>


<!-- ACCENT COLORS -->

<div class="row row-no-flex">
    <h4>Accent colors</h4>
    <p> Use sparingly to call attention to certain elements within the design. </p>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch accent"></div>
        <p class="eqrs-detail-copy">#fdb81e<br> $eqrs-accent-color
        </p>
      </div>
    </div>
</div>


<!-- DISABLED COLORS -->

<div class="row row-no-flex">
    <h4>Disabled color</h4>
    <p> Use in background for disabled content and buttons. </p>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch disabled"></div>
        <p class="eqrs-detail-copy">#d6d7d9<br> $eqrs-tertiary-color
        </p>
      </div>
    </div>
</div>


<!-- DESTRUCTIVE ACTION AND ERROR COLORS -->

<div class="row row-no-flex">
    <h4>Destructive action and error colors</h4>
    <p> Use for non-recoverable actions and error messaging. </p>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch destructive"></div>
        <p class="eqrs-detail-copy">#cd2026<br> $eqrs-alert-color
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch destructive-darker"></div>
        <p class="eqrs-detail-copy">#981b1e<br> $eqrs-alert-darker
        </p>
      </div>
    </div>
</div>


<!-- TEXT COLORS -->

<div class="row row-no-flex">
    <h4>Text color</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch text"></div>
        <p class="eqrs-detail-copy">#323a45<br> $eqrs-text-color
        </p>
      </div>
    </div>
</div>


<!-- BACKGROUND COLORS -->

<div class="row row-no-flex">
    <h4>Background color</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch background"></div>
        <p class="eqrs-detail-copy">#f1f1f1<br> $eqrs-background-color
        </p>
      </div>
    </div>
</div>

<div class="row row-no-flex">
    <h4>Background alternate color</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch background-alt"></div>
        <p class="eqrs-detail-copy">#f3fafe<br> $eqrs-background-alt
        </p>
      </div>
    </div>
</div>


<!-- SPECIAL STATES COLORS -->

<div class="row row-no-flex">
    <h4>Special state colors</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch focus-color"></div>
        <p class="eqrs-detail-copy">#3e94cf<br> $eqrs-focus-color
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch visited"></div>
        <p class="eqrs-detail-copy">#4c2c92<br> $eqrs-visited-color
        </p>
      </div>
    </div>
</div>



<!-- ALERTS COLORS -->

<div class="row row-no-flex">
    <h4>Alert colors</h4>
    <div class="row">
      <div class="col-lg-3">
        <div class="color-swatch info"></div>
        <p class="eqrs-detail-copy">#e1f3f8<br> $eqrs-alert-information
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch error"></div>
        <p class="eqrs-detail-copy">#f9dede<br> $eqrs-alert-error
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch warning"></div>
        <p class="eqrs-detail-copy">#fff1d2<br> $eqrs-alert-warning
        </p>
      </div>
      <div class="col-lg-3">
        <div class="color-swatch success"></div>
        <p class="eqrs-detail-copy">#e7f4e4<br> $eqrs-alert-success
        </p>
      </div>
    </div>
</div>






<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/responsivedesign']"> <i class="fa fa-chevron-left"></i> Previous: <b> Responsive Design </b> </span>
    <span [routerLink] = "['/iconography']" class="pull-right"> Next: <b>Iconography</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>

</div>












