<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<div class="esrd-ds-container padding-top-2 padding-bottom-4 grid-row">

  <div class="tablet:grid-col-2 padding-right-4">
    <app-component-sidenav></app-component-sidenav>
  </div>

  <div class="tablet:grid-col-10 padding-top-105">

    <h2>Checkbox</h2>
    <section class="padding-bottom-2 tablet:grid-col-9">

      <h3>Basic Checkbox</h3>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-bottom-2">
          <app-eqrs-checkbox id="someUniqueId" name="someUniqueName" formControlName="checkboxFormOneControl"
         [options]="checkboxOptions"></app-eqrs-checkbox>
        </div>

        <div class="tablet:grid-col-12">
          <button class="usa-button bg-mint" (click) = "customCheckboxOneShow = !customCheckboxOneShow">
          View code <i class="fa fa-code" aria-hidden="true"></i>
          </button>

          <div *ngIf="customCheckboxOneShow">
            <pre>
                <code [highlight]="customCheckboxOneContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>

      </div>

      <h3>Full Checkbox</h3>
      <p>What's the difference between this and Basic? When would you use something that disables two of the options off the bat?</p>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-bottom-2">
          <app-eqrs-checkbox id="someUniqueIdTwo" name="someUniqueNameTwo" formControlName="checkboxFormTwoControl"
            valueProperty="otherValuePropertyName" descriptionProperty="otherDescriptionPropertyName"
            [options]="checkboxOptionsTwo" [required]="true" disableAllSelectedValue="1">
          </app-eqrs-checkbox>
        </div>

        <div class="tablet:grid-col-12">
          <button class="usa-button bg-mint" (click) = "customCheckboxTwoShow = !customCheckboxTwoShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

          <div *ngIf="customCheckboxTwoShow">
            <pre>
                <code [highlight]="customCheckboxTwoContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>

      </div>
    </section>
  </div>

</div> <!-- end of page -->
