<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<div class="esrd-ds-container padding-top-2 grid-row">

  <div class="tablet:grid-col-2 padding-right-4 padding-bottom-4">
    side navigation coming soon!
  </div>


  <div class="tablet:grid-col-10 padding-top-105 padding-bottom-4">
    <h2>Getting Started</h2>
    <p>The design system can be used in a couple of different ways:</p>
    <ul>
      <li>As a reference, by visiting https://cmsgov.github.io/eqrs-design-system/</li>
      <li>By importing an NPM package [package name, link] ← this is in-progress work</li>
      <li>By downloading the raw code directly from Github: https://github.com/CMSgov/eqrs-design-system</li>
    </ul>

    <h3>For Designers</h3>
      <p>Future build: Sketch file, CSS references, visual references. This is the single source of truth.</p>

    <h3>For Developers</h3>
      <p>Future build: Angular references, HTML / CSS references, visual references. This is the single source of truth.</p>

  </div>

</div>
