<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<footer class="bg-base-lightest padding-top-2 padding-bottom-1">
  <div class='esrd-ds-container grid-row'>
    <section class="tablet:grid-col-6">
      <h6 class='text-bold'>Contact Us</h6>
      <p>Need help? <a href='https://github.com/CMSgov/eqrs-design-system/issues' target="_blank">Leave us an issue on Github.</a></p>
    </section>

    <section class="tablet:grid-col-6">
      <h6 class='text-bold'>Additional Resources</h6>
      <ul>
        <li><a href='https://designsystem.digital.gov/' target="_blank">US Web Design System</a></li>
        <li><a href='https://design.cms.gov/' target="_blank">CMS Design System</a></li>
        <li><a href='http://www.medicare.gov/about-us/plain-writing/plain-writing.html' target="_blank">Plain Writing</a></li>
      </ul>
    </section>
  </div>
</footer>
