.eqrs-alert-success {
    background-position: left 1.3rem top 2rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1em;
    background-color: #e7f4e4;
    background-image: url(assets/images/success.svg);
}

.eqrs-alert-warning {
    background-position: left 1.3rem top 2rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1em;
    background-color: #fff1d2;
    background-image: url(assets/images/warning.svg);
}

.eqrs-alert-error {
    background-position: left 1.3rem top 2rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1em;
    background-color: #f9dede;
    background-image: url(assets/images/error2.svg);
}

.eqrs-alert-information {
    background-position: left 1.3rem top 2rem;
    background-repeat: no-repeat;
    background-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1em;
    background-color: #e1f3f8;
    background-image: url(assets/images/info.svg);
}

.eqrs-alert-body {
    padding-left: 3.5rem;
    vertical-align: top;
}

.eqrs-alert-heading {
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #323a45;
    text-transform: none;
    margin-bottom: .3rem;
    margin-top: 0;
}

.code-block {
    padding-top: 0;
    background: #fff;
}










