<h1> Accessibility </h1>
<hr>

<p> Accessibility allows  people with disabilities to be able to perceive, understand, navigate, interact with, and contribute to the applications we develop. </p>

<p> We follow the accessibility guidelines defined by the Access Board and also summarized by 18f. Please click here to go to <a href="https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards" target="_blank"><b>Access Board</b></a> or to <a href="https://accessibility.18f.gov/index.html" target="_blank"><b>18f</b></a>.
</p>



<h3 class="dark-blue mt-5"> Resources </h3>
<hr>


<div class="row accessibility-resources mt-4">
  <div class="col-md-10 mb-3">
  	<h4> Testing Tools </h4>
    <ul>
    	<li> <a href="http://squizlabs.github.io/HTML_CodeSniffer/" target="_blank"> HTML CodeSniffer </a> - use this for a quick audit of any URL. </li>
    	<li> <a href="http://pa11y.org/" target="_blank"> Pa11y Automated Tool </a> - Open-source</li>
    	<li> <a href="https://tenon.io/" target="_blank"> Tenon </a> </li>
    	<li> <a href="http://contrast-finder.tanaguru.com/" target="_blank"> tanaguru contrast finder </a> Open-source tool to find better color contrast options. </li>
    	<li> <a href="https://toolness.github.io/accessible-color-matrix/" target="_blank"> Accessible color palette builder </a> Open-source </li>
    	<li> <a href="https://msdn.microsoft.com/en-us/library/windows/desktop/dd318521%28v=vs.85%29.aspx" target="_blank"> Windows: Inspector </a> This tool is used by the DHS for their Trusted Tester Program. </li>
    	<li> <a href="https://www.nvaccess.org/" target="_blank"> Windows: NVDA Screenreader </a> Open-source </li>
    </ul>
  </div>


  <div class="col-md-10 mb-3">
  	<h4> Browser Testing Tools </h4>
    <ul>
    	<li> <a href="https://addons.mozilla.org/EN-US/firefox/addon/wcag-contrast-checker/" target="_blank"> FireFox: WCAG Contrast checker  </a> - Fast way to evaluate CSS color contrast. </li>
    	<li> <a href="https://chrome.google.com/webstore/detail/color-contrast-analyzer/dagdlcijhfbmgkjokkjicnnfimlebcll?hl=en" target="_blank"> Chrome: Color Contrast Analyzer </a> - Great for gradients & images. </li>
    	<li> <a href="https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en" target="_blank"> Chrome: Accessibility Developer Tools </a> </li>
    	<li> <a href="http://wave.webaim.org/extension/" target="_blank"> Firefox/Chrome: WAVE Toolbar </a> </li>
    	<li> <a href="https://chrispederick.com/work/web-developer/" target="_blank"> Firefox/Chrome: Web Developer </a> </li>
    </ul>
  </div>


  <div class="col-md-10 mb-3">
  	<h4> World Wide Web Consortium's Web Accessibility Initiative </h4>
    <ul>
    	<li> <a href="https://www.w3.org/TR/WCAG20/" target="_blank"> Web Content Accessibility Guidelines (WCAG) 2.0  </a> </li>
    	<li> <a href="http://www.w3.org/WAI/tutorials/" target="_blank"> Web Accessibility Tutorials </a> </li>
    	<li> <a href="http://w3c.github.io/html/dom.html#wai-aria" target="_blank"> Accessible Rich Internet Applications (ARIA) Documentation </a> </li>
    	<li> <a href="https://www.w3.org/WAI/ER/tools/" target="_blank"> Web Accessibility Evaluation Tools List </a> </li>
    </ul>
  </div>



</div> <!-- .row ends here -->





<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/principles']"> <i class="fa fa-chevron-left"></i> Previous: <b>Principles</b> </span>
    <span [routerLink] = "['/responsivedesign']" class="pull-right"> Next: <b>Responsive Design</b> <i class="fa fa-chevron-right"></i> </span>
  </div>


</div>












