<h1> Design Principles  </h1>
<hr>


<p> The EQRS Design System shows the patterns and components that make up the EQRS application. These patterns and components provide a unified language and consistent look and feel when designing applications within the our ecosystem. </p>

<p> We highly recommend keeping these core principles in mind when making our design decisions, and we encourage all teams to adopt them. </p>


<div class="row principles-top mt-5">  
 <div _ngcontent-c2="" class="col-md-4 btn-content">
    <h3>Usability</h3>
    <p> Interface should be intuitive and work with minimal training. </p>
 </div>

 <div _ngcontent-c2="" class="col-md-4 btn-content">
    <h3>Accessibility</h3>
    <p> Follow U.S. Web Standards and required 508 compliancy guidelines. </p>
 </div>

 <div _ngcontent-c2="" class="col-md-4 btn-content">
    <h3>Simplicity</h3>
    <p> Do not over complicate the experience. Only add when necessary. </p>
 </div>

</div> <!-- row ends here -->


<div class="row principles-botton mt-1">
 <div _ngcontent-c2="" class="col-md-4 btn-content">
    <h3>Clarity</h3>
    <p> Use simple clear language wherever possible. </p>
 </div>

 <div _ngcontent-c2="" class="col-md-4 btn-content">
    <h3>Responsiveness</h3>
    <p> Interface should work across many devices. </p>
 </div>

 <div _ngcontent-c2="" class="col-md-4 btn-content">  
    <h3> Efficiency </h3>
    <p> Streamline and optimize workflows to help people work better, smarter, and faster. </p>
  </div>

 </div> <!-- row ends here -->




<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
   <!-- <span [routerLink] = "['/radiobutton']"> <i class="fa fa-chevron-left"></i> Previous: <b>Radio Button</b> </span>. -->
    <span [routerLink] = "['/accessibility']" class="pull-right"> Next: <b>Accessibility</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>