<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<div class="esrd-ds-container padding-top-2 padding-bottom-4 grid-row">

  <div class="tablet:grid-col-2 padding-right-4">
    <!-- <app-component-sidenav></app-component-sidenav>-->
    sidenav goes here
  </div>

  <div class="tablet:grid-col-10 padding-top-105">

    <h2>Buttons</h2>
    <p>Use descriptive words that clearly state the action of the button, avoiding vague wording like <i>yes</i> or <i>no</i>.</p>

    <section class="padding-bottom-2 tablet:grid-col-9">

      <h3>Primary buttons</h3>

      <div class="grid-row padding-bottom-4">
        <div class="tablet:grid-col-4 padding-right-2">
          <p>Default</p>
          <button class="eqrs-button-primary">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Hover</p>
          <button class="eqrs-button-primary primary-hover">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Active</p>
          <button class="eqrs-button-primary primary-active">Submit</button>
        </div>

        <button class="usa-button bg-mint" (click) = "primaryButtonShow = !primaryButtonShow">
          View code <i class="fa fa-code" aria-hidden="true"></i>
        </button>

        <div *ngIf="primaryButtonShow">
          <pre>
            <code [highlight]="primaryButtonContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
          </pre>
        </div>

      </div>

      <h3>Secondary buttons</h3>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Default</p>
          <button class="eqrs-button-secondary">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Hover</p>
          <button class="eqrs-button-secondary secondary-hover">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Active</p>
          <button class="eqrs-button-secondary secondary-active">Submit</button>
        </div>

        <button class="usa-button bg-mint" (click) = "secondaryButtonShow = !secondaryButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div *ngIf="secondaryButtonShow">
          <pre>
            <code [highlight]="secondaryButtonContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
          </pre>
        </div>

      </div>

      <h3>Accent Buttons</h3>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Default</p>
          <button class="eqrs-button-accent">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Hover</p>
          <button class="eqrs-button-accent accent-hover">Submit</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Active</p>
          <button class="eqrs-button-accent accent-active">Submit</button>
        </div>

        <button class="usa-button bg-mint" (click) = "accentButtonShow = !accentButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div *ngIf="accentButtonShow">
          <pre>
            <code [highlight]="accentButtonContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
          </pre>
        </div>
      </div>

      <h3>Destructive Buttons</h3>
      <p>These are for non-recoverable actions</p>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Default</p>
          <button class="eqrs-button-destructive">Delete</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Hover</p>
          <button class="eqrs-button-destructive destructive-hover">Delete</button>
        </div>

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Active</p>
          <button class="eqrs-button-destructive destructive-active">Delete</button>
        </div>

        <button class="usa-button bg-mint" (click) = "destructiveButtonShow = !destructiveButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div *ngIf="destructiveButtonShow">
          <pre>
            <code [highlight]="destructiveButtonContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
          </pre>
        </div>
      </div>

      <h3>Disabled Buttons</h3>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-right-2">
          <p>Default - note lack of hover state</p>
          <button class="eqrs-button-primary" disabled>Disabled</button>
        </div>

        <div class="tablet:grid-col-12">
          <button class="usa-button bg-mint" (click) = "disabledButtonShow = !disabledButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

          <div *ngIf="disabledButtonShow">
            <pre>
              <code [highlight]="disabledButtonContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
        </div>
      </div>

      <h3>Unstyled Buttons</h3>
      <p>Use unstyled buttons for minor interactions, when user remains on page after clicking.</p>
      <div class="grid-row padding-bottom-4">

        <div class="tablet:grid-col-4 padding-right-2">
          <app-eqrs-buttons id="linkUniqueId" name="linkUniqueName" [eqrsType]="EqrsButtonTypes.Link">This is a button not a link</app-eqrs-buttons>
        </div>

        <div class="tablet:grid-col-12">
          <button class="usa-button bg-mint" (click) = "buttonlinksButtonShow = !buttonlinksButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

          <div *ngIf="buttonlinksButtonShow">
            <pre>
                <code [highlight]="buttonlinksButtonContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>
      </div>


    </section>

  </div>

</div> <!-- end of page -->
