<!-- SPECIAL LABELS -->

<h1> Labels </h1>
<hr>

<label class="eqrs-label-success">Edited</label>
<br>
<label class="eqrs-label-warning">Warning</label>

<div class="col-md-12">
      <ngx-prism [language]="cssLanguage">
        {{labelsContent}}
      </ngx-prism>
</div>

<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-12">
    <span [routerLink] = "['/inputs']"> <i class="fa fa-chevron-left"></i> Previous: <b>Inputs</b> </span>
    <span [routerLink] = "['/modal']" class="pull-right"> Next: <b>Modal</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
