<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<div class="esrd-ds-container padding-top-2 padding-bottom-4 grid-row">

  <div class="tablet:grid-col-2 padding-right-4">
    <!-- <app-component-sidenav></app-component-sidenav>-->
    sidenav goes here
  </div>

  <div class="tablet:grid-col-10 padding-top-105">

    <h2>Add &amp; remove fields</h2>
    <p>Click the `+` to add a new row; use the `-` to remove it.</p>

    <div class="padding-bottom-2 tablet:grid-col-10">

      <fieldset *ngFor="let choice of choices; index as i;">

        <div class="grid-row" id="deadlinesrow">

          <div class="tablet:grid-col-3 padding-right-2">
            <label>Label</label>
            <select class="eqrs-select" name="options" id="measure">
              <option value="value1">---</option>
              <option value="value1">Option 1</option>
              <option value="value2">Option 2</option>
              <option value="value3">Option 3</option>
            </select>
          </div>

          <div class="tablet:grid-col-3 padding-right-2">
            <label for="input-inactive">Criteria</label>
            <input id="input-inactive" name="input-inactive" type="text" aria-describedby="input-inactive">
          </div>

          <div class="tablet:grid-col-3 padding-right-2">
            <label for="date-disabled">Select deadline</label>
            <input class="eqrs-input" id="date-disabled"
                     name="input-inactive" type="text" aria-describedby="input-inactive"
                     ngbDatepicker>
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>

          <div class="tablet:grid-col-3">
            <button *ngIf="i== 0" class="usa-button--unstyled btn-add" type="button" (click)="addNewChoice()">
              <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
            </button>

            <button *ngIf="i !=0" class="usa-button--unstyled btn-add" type="button" (click)="choices.splice(i,1)">
              <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
            </button>

          </div>   <!-- .col-md-2 ends here-->

        </div>  <!-- .row ends here -->
      </fieldset>

    </div>

    <!-- button and code reveal -->
    <div>

      <button class="usa-button bg-mint" (click) = "addRemoveLineTsShow = !addRemoveLineTsShow; addRemoveLineHtmlShow = false;">
        View typescript code <i class="fa fa-code" aria-hidden="true"></i>
      </button>

      <button class="usa-button bg-mint" (click) = "addRemoveLineHtmlShow = !addRemoveLineHtmlShow; addRemoveLineTsShow= false;">
        View html code <i class="fa fa-code" aria-hidden="true"></i>
      </button>

      <div class="tablet:grid-col-8" *ngIf="addRemoveLineHtmlShow">
        <pre>
          <code [highlight]="addRemoveLineHtmlContent" [lineNumbers]="true"  [languages]="cssLanguage"></code>
        </pre>
      </div>

      <div class="tablet:grid-col-8" *ngIf="addRemoveLineTsShow">
        <pre>
          <code [highlight]="addRemoveLineTsContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
        </pre>
      </div>

    </div>


  </div>

</div> <!-- end of page -->
