<h1 #scroll> Typography </h1>
<hr>

<p class="mb-3"> We use rem for all font sizing to allow for greater accessibility. One rem is equal to 18 pixels within EQRS. </p>

 <p class="mb-4 headers-bp"> Ensure headings are in a logical order. For example, check that all headings are marked 
  with &#60;h1&#62;-&#60;h2&#62; elements and that these are ordered hierarchically. For example, the heading level 
    following an &#60;h1&#62; should be an &#60;h2&#62;, not an &#60;h3&#62;. Heading elements must be properly nested on the page. Heading elements that are properly nested help users of assistive technologies understand the structure of the information on the web page. Finally, don't use heading mark up on text that 
      isn't actually a heading. 
     <img class="img-fluid pt-3" src="assets/images/508-image.png">
    </p>  

<div class="typography-container  row">
        <div class="col-xs-12 col-md-6 col-lg-4 mb-4">
          <h1 class="eqrs-display-text">Display</h1>
          <p class="notes">
            font-family: ‘Merriweather’<br> font-weight: 400<br> font-size: 52px<br> line-height: 1.3em/68px<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h1 class="">Heading 1</h1>
          <p class="notes">
            font-family: ‘Merriweather’<br> font-weight: 700<br> font-size: 40px<br> line-height: 1.3em/52px<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h2 class="">Heading 2</h2>
          <p class="notes">
            font-family: ‘Merriweather’<br> font-weight: 700<br> font-size: 30px<br> line-height: 1.3em/39px<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="">Heading 3</h3>
          <p class="notes">
            font-family: ‘Merriweather’<br> font-weight: 700<br> font-size: 22px<br> line-height: 1.3em/26px<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <h4 class="">Heading 4</h4>
          <p class="notes">
            font-family: ‘Source Sans Pro’<br> font-weight: 700<br> font-size: 20px<br> line-height: 1.3em/22px<br>text-transform: uppercase;<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <p class="">Body copy</p>
          <p class="notes">
            font-family: ‘Source Sans Pro’<br> font-weight: 400<br> font-size: 18px<br> line-height: 1.3em/26px<br>
          </p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <p class="eqrs-detail-copy">Detail copy</p>
          <p class="notes">
            font-family: ‘Source Sans Pro’<br> font-weight: 300<br> font-size: 14px<br> line-height: 1.3em/22px<br>
          </p>
        </div>

      </div>.  <!-- row ends here -->



<div class="row row-no-flex">
  <h4> Alignment</h4>
  <p> In most cases, align content to the left of its respective container. </p>

   <h4> Example </h4>
   	<div class="alignment-container example-container">
          <div class="left-vertical-line">
            <i class="fa fa-angle-up"></i>
            <p>I am a title.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis lacinia enim, vitae commodo leo. Quisque ut lobortis augue. Praesent ac diam dignissim, accumsan odio nec, commodo metus.
              <i class="fa fa-angle-down"></i>
            </p>
          </div>
        </div>

<h4 class="mt-5"> Line length</h4>
<p> Keep line length to approximately 66 characters per line (max-width of 35em). This creates reduced strain when reading multiple lines of text.
          </p>

</div> <!-- row ends here -->



<div class="row row-no-flex">
<h4> Example </h4>
<div class="line-length-container example-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis lacinia enim, vitae commodo leo. Quisque ut lobortis augue. Praesent ac diam dignissim, accumsan odio nec, commodo metus. </p>
            <div class="line-length-indicator">
              <i class="fa fa-angle-left"></i>
              <i class="fa fa-angle-right"></i>
              <!-- <hr> -->
            </div>
          </div>

 <h4 class="mt-5"> Line spacing </h4>
 <p> Keep a minimum spacing of 30px between sections. </p>

 <h4> Example </h4>
 <div class="line-spacing-container example-container">
            <p class="mb-0">End of section 1.</p>
            <span>
        <i class="fa fa-angle-up"></i>
        <i class="fa fa-angle-down"></i>
      </span>
            <h2>Header for section 2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis lacinia enim, vitae commodo leo. Quisque ut lobortis augue. Praesent ac diam dignissim, accumsan odio nec, commodo metus.
            </p>
          </div>

          <p class="mt-3">Use sentence case for all navigation, headers, labels and buttons. </p>

</div>  <!-- row ends here -->



<div class="row row-no-flex">

	<h4> View state</h4>
	<div class="eqrs-label-bold">Use bold label when in view state:</div>
	<p> Crozer-Keystone Regional Kidney Transplant Center at Crozer-Chester Med-Ctr </p>

	<h4 class="mt-5"> Emphasizing text </h4>
	<p> For emphasis within text use <em>em</em> or <strong>strong</strong> tags to change the voice of a word or phrase, i.e., to emphasis it. Otherwise, use <i>i</i> or <b>b</b> tags to change the visual look and feel only.</p>

            <p class="mt-2"> Entire paragraphs, e.g., the view state label, needing emphasis should use CSS classes.
          </p>



</div><!-- row ends here -->




<!-- PREVIOUS NEXT -->


<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/iconography']"> <i class="fa fa-chevron-left"></i> Previous: <b>Iconography</b> </span>
    <span [routerLink] = "['/accordion']" class="pull-right"> Next: <b>Accordion</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>

</div>














