<!-- this file uses USWDS classes -- see designsystem.digital.gov -->

<div class="esrd-ds-container padding-top-2 grid-row">

  <div class="tablet:grid-col-2 padding-right-4 padding-bottom-4">
    side navigation coming soon!
  </div>

  <div class="tablet:grid-col-10 padding-top-105 padding-bottom-4">

    <h2>Design Principles</h2>
    <p>The EQRS Design System shows the patterns and components that make up the EQRS application. These patterns and components provide a unified language and consistent look and feel when designing applications within the our ecosystem. </p>

    <p>We highly recommend keeping these core principles in mind when making our design decisions, and we encourage all teams to adopt them.</p>

    <ul>
      <li>
        <h3>Usability</h3>
        <p>Interface should be intuitive and work with minimal training.</p>
      </li>

      <li>
        <h3>Accessibility</h3>
        <p>Follow U.S. Web Standards and required 508 compliancy guidelines.</p>
      </li>

      <li>
        <h3>Simplicity</h3>
        <p>Do not over complicate the experience. Only add when necessary. </p>
      </li>

      <li>
        <h3>Clarity</h3>
        <p>Use simple clear language wherever possible. </p>
      </li>

      <li>
        <h3>Responsiveness</h3>
        <p>Interface should work across many devices.</p>
      </li>

      <li>
        <h3>Efficiency</h3>
        <p>Streamline and optimize workflows to help people work better, smarter, and faster.</p>
      </li>
    </ul>

  </div>

</div>
