<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<div class="esrd-ds-container padding-top-2 padding-bottom-4 grid-row">

  <div class="tablet:grid-col-2 padding-right-4">
    <!-- <app-component-sidenav></app-component-sidenav>-->
    sidenav goes here
  </div>

  <div class="tablet:grid-col-10 padding-top-105">

    <h2>Data Table</h2>
    <section class="padding-bottom-2 tablet:grid-col-9">

      <dynamic-datatable [data]="fakeData"
            caption="This table contains a list of names. The data displayed for each position is listed in the following columns: Id, Name"
            [showCaption]="false" emptyMessage="No Results Found" [searchFilter]="false" [externalSearch]="false">
            <dynamic-column field="id" header="Id" id="id-column"
                [searchField]="false" [sortable]="true">
                <ng-template dynamicTemplate  let-column="column" let-index="index" let-rowIndex="rowIndex"
                    let-selectedName="data" type="cell">
                    <div style="text-decoration: underline">
                        <i>{{selectedName.id}}</i>
                    </div>
                </ng-template>
            </dynamic-column>
            <dynamic-column field="name" header="Name"
                id="name-column" [searchField]="false" [sortable]="true">
            </dynamic-column>
                <pagination [pageSizes]="[10,25,50,100]" [numberOfPageOptions]="4"></pagination>
        </dynamic-datatable>

        <button class="usa-button bg-mint" (click) = "showDynamicTable = !showDynamicTable"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div *ngIf="showDynamicTable">
          <pre>
            <code [highlight]="dynamicTableContent" [lineNumbers]="true"  ></code>
          </pre>
        </div>

    </section>
  </div>

</div> <!-- end of page -->
