<h1 #scroll> Focus on load </h1>
<hr>

<p> FocusOnLoadDirective is used to focus on a specific element when the page loads.</p>

<div class="col-md-12">
      <ngx-prism [language]="cssLanguage">
        {{focusContent}}
      </ngx-prism>
</div>

<div class="row row-previous-next ml-0">
  <div class="col-lg-10">
    <span [routerLink] = "['/dropdownkeynav']"> <i class="fa fa-chevron-left"></i> Previous: <b>Dropdown Keyboard Nav</b> </span>
    <span [routerLink] = "['/phonemask']" class="pull-right"> Next: <b>Phone Mask</b> <i class="fa fa-chevron-right"></i> </span>
  </div>
</div>
