.typography-container {
    display: flex;
    align-items: baseline;
}

.eqrs-display-text {
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    font-weight: 400;
    font-size: 2.88rem;
    line-height: 1.3em;
}

.notes {
    font-size: 12px;
    color: gray;
}

.example-container {
    margin-left: 20px;
    border-left: 3px solid lightgray;
    padding-left: 20px;
    padding-bottom: 20px;
}

.left-vertical-line {
    border-left: 1px solid red;
    padding-left: 10px;
}

.alignment-container .fa-angle-up {
    position: absolute;
    margin-left: -15px;
    margin-top: -7px;
    color: red;
}

.alignment-container .fa-angle-down {
    float: left;
    margin-left: -15px;
    margin-top: 17px;
    color: red;
}

.line-length-indicator {
    width: 35em;
    border-bottom: 1px solid red;
}

.fa-angle-right {
    position: inherit;
    float: right;
    /* margin-right: -7px; */
    margin-top: -9px;
    color: red;
}

.fa-angle-left {
    position: absolute;
    margin-left: -2px;
    margin-top: -9px;
    color: red;
}

.line-spacing-container span {
    height: 30px;
    border-left: 1px solid red;
    margin-top: 0;
    margin-bottom: 0;
}

.line-spacing-container .fa-angle-up {
    position: absolute;
    color: red;
    margin-top: -6px;
    margin-left: -5px;
}

.line-spacing-container .fa-angle-down {
    position: absolute;
    color: red;
    margin-top: 14px;
    margin-left: -5px;
}

.typography-container h1 {
    color: #000;
}

.headers-bp {
    background: #fafafa;
    padding: 1rem;
}

