<!-- this file uses USWDS classes -- see designsystem.digital.gov -->

<div class="esrd-ds-container padding-top-2">

<section>
  <h2>Welcome to the system</h2>
  <p>The ESRD Design System is a set of design and development resources that help create Section 508 compliant, responsive, and consistent web experiences. It builds on the US Web Design System and on the CMS Design System to provide resources specific to ESRD properties, particularly the new EQRS UI.</p>

  <h3>The primary goals for the design system are to:</h3>
  <ul>
    <li>Help create consistent, enjoyable, reliable, and Section 508 compliant websites.</li>
    <li>Promote best practices for usability, accessibility, and responsive web design.</li>
    <li>Empower teams and speed up design and development velocity.</li>
    <li>Serve as a living source of truth for UI standards.</li>
  </ul>
</section>

<!-- cards, 2 up -->
<section>
  <ul class='usa-card-group'>
    <li class="tablet:grid-col-6 usa-card">
      <div class="usa-card__container">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">Designers: Get Started</h2>
        </header>
        <div class="usa-card__body">
          <p>New to the design team? Download our Sketch library, and check out our design principles and style guide.</p>
        </div>
        <div class="usa-card__footer">
          <button class="usa-button">Learn how to get started with design</button>
        </div>
      </div>
    </li>

    <li class="tablet:grid-col-6 usa-card">
      <div class="usa-card__container">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">Developers: Get Started</h2>
        </header>
        <div class="usa-card__body">
          <p>New to the development team? Take a look at our components, written to support flat sites as well as Angular development.</p>
        </div>
        <div class="usa-card__footer">
          <button class="usa-button">Learn how to get started with development</button>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- cards, 4 up -->
<section>

<ul class="usa-card-group">
  <li class="tablet:grid-col-3 usa-card">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="usa-card__heading">Design Principles</h2>
    </header>
    <div class="usa-card__body">
      <p>New to the design team? Download our Sketch library, and check out our design principles and style guide.</p>
    </div>
    <div class="usa-card__footer">
      <button class="usa-button">More about our principles</button>
    </div>
  </div>
</li>

<li class="tablet:grid-col-3 usa-card">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="usa-card__heading">Style Guide</h2>
    </header>
    <div class="usa-card__body">
      <p>Everything you need for consistent visual design for ESRD properties.</p>
    </div>
    <div class="usa-card__footer">
      <button class="usa-button">See the style guide</button>
    </div>
  </div>
</li>

<li class="tablet:grid-col-3 usa-card">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="usa-card__heading">Components</h2>
    </header>
    <div class="usa-card__body">
      <p>HTML, CSS and Angular code for the UI patterns and components in use on ESRD and EQRS.</p>
    </div>
    <div class="usa-card__footer">
      <button class="usa-button">Get the components</button>
    </div>
  </div>
</li>
<li class="tablet:grid-col-3 usa-card">
  <div class="usa-card__container">
    <header class="usa-card__header">
      <h2 class="usa-card__heading">Page Templates</h2>
    </header>
    <div class="usa-card__body">
      <p>Something about how we use page templates.</p>
    </div>
    <div class="usa-card__footer">
      <button class="usa-button">See page templates</button>
    </div>
  </div>

  </li>
  </ul>
</section>

</div>
