.responsive-design-image {
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 1em;
    background-color: #e7f4e4;
    background-image: url(assets/images/responsive.svg);
    height: 16rem;
}

.responsive-design .col-md-8 {
	background-color: #e7f4e4 ;
}

.responsive-design h3 {
    padding: 1.6rem 1.1rem 0.4rem;
    color: #112e51;
}

.one-page-nav li {
    margin-right: 2rem;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.section1, .section2, .section3 {
	height: 100vh;
}

.one-page-nav li a {
    color: #fff !important;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 500;
}

.one-page-nav li a:hover {
    color: #0071bc;
}

.one-page-nav {
    background: #0071bc;
    padding: 0.5rem 1rem;
}

.responsive-pagination {
    margin-top: 1100px;
}

.row.section-top {
    padding-top: 3rem;
}