<!-- this file uses USWDS classes -- see designsystem.digital.gov -->

<div class="esrd-ds-container padding-top-2 grid-row">

  <div class="tablet:grid-col-2 padding-right-4 padding-bottom-4">
    <app-style-sidenav></app-style-sidenav>
  </div>

  <div class="tablet:grid-col-10 padding-top-105 padding-bottom-4">

    <h2>Colors</h2>

    <!-- PRIMARY COLORS -->
    <section class="grid-container">
      <h3>Primary colors</h3>
      <p>Use for all positive action buttons and links.</p>

      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch primary"></div>
          <p class="font-sans-3xs">#0071bc<br> $eqrs-primary-color
          </p>
        </div>
        <div class="tablet:grid-col-3">
          <div class="color-swatch primary-darker"></div>
          <p class="font-sans-3xs">#205493<br> $eqrs-primary-darker
          </p>
        </div>
        <div class="tablet:grid-col-3">
          <div class="color-swatch primary-darkest"></div>
          <p class="font-sans-3xs">#112e51<br> $eqrs-primary-darkest
          </p>
        </div>
      </div>

    </section>

    <!-- SECONDARY COLORS -->
    <section class="grid-container">

      <h3>Secondary colors</h3>
      <p> Use for all secondary action buttons. What defines a "secondary" action?</p>

      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch secondary"></div>
          <p class="font-sans-3xs">#5b616b<br> $eqrs-secondary-color
          </p>
        </div>
        <div class="tablet:grid-col-3">
          <div class="color-swatch secondary-darker"></div>
          <p class="font-sans-3xs">#323a45<br> $eqrs-secondary-darker
          </p>
        </div>
      </div>
    </section>

    <!-- ACCENT COLORS -->
    <section class="grid-container">

      <h3>Accent colors</h3>
      <p> Use sparingly to call attention to certain elements within the design.</p>

      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch accent"></div>
          <p class="font-sans-3xs">#fdb81e<br> $eqrs-accent-color
          </p>
        </div>
      </div>
    </section>

    <!-- DISABLED COLORS -->
    <section class="grid-container">

      <h3>Disabled color</h3>
      <p> Use in background for disabled content and buttons. </p>
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch disabled"></div>
          <p class="font-sans-3xs">#d6d7d9<br> $eqrs-tertiary-color
          </p>
        </div>
      </div>
    </section>

    <!-- DESTRUCTIVE ACTION AND ERROR COLORS -->
    <section class="grid-container">
      <h3>Destructive action and error colors</h3>
      <p> Use for non-recoverable actions and error messaging. </p>
        <div class="grid-row">
          <div class="tablet:grid-col-3">
            <div class="color-swatch destructive"></div>
            <p class="font-sans-3xs">#cd2026<br> $eqrs-alert-color
            </p>
          </div>
          <div class="tablet:grid-col-3">
            <div class="color-swatch destructive-darker"></div>
            <p class="font-sans-3xs">#981b1e<br> $eqrs-alert-darker
            </p>
          </div>
        </div>
    </section>

    <!-- TEXT COLORS -->
    <section class="grid-container">
      <h3>Text color</h3>
      <p> This color is tested to be readable and have enough contrast with the background to be readable for most users.</p>
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch text"></div>
          <p class="font-sans-3xs">#323a45<br> $eqrs-text-color
          </p>
        </div>
      </div>
    </section>

    <!-- BACKGROUND COLORS -->
    <section class="grid-container">
      <h3>Background colors</h3>
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch background"></div>
          <p class="font-sans-3xs">#f1f1f1<br> $eqrs-background-color
          </p>
        </div>

        <div class="tablet:grid-col-3">
          <div class="color-swatch background-alt"></div>
          <p class="font-sans-3xs">#f3fafe<br> $eqrs-background-alt
          </p>
        </div>
      </div>
    </section>

    <!-- SPECIAL STATES COLORS -->
    <section class="grid-container">
      <h3>Special state colors</h3>
      <p> Use for links and form controls to indicate if a component is hovered over, selected, or previously selected.</p>
      <div class="grid-row">
        <div class="tablet:grid-col-3">
          <div class="color-swatch focus-color"></div>
          <p class="font-sans-3xs">#3e94cf<br> $eqrs-focus-color
          </p>
        </div>
        <div class="tablet:grid-col-3">
          <div class="color-swatch visited"></div>
          <p class="font-sans-3xs">#4c2c92<br> $eqrs-visited-color
          </p>
        </div>
      </div>
    </section>

    <section class="grid-container">
      <!-- ALERTS COLORS -->

      <div class="row row-no-flex">
        <h3>Alert colors</h3>
        <p class="grid-col-8">Use for situations that do not require interaction or preventing destructive behaviors on the user's part. Alerts can be used to indicate an action was performed successfully or point the user's to potential human errors.</p>
        <div class="grid-row">
          <div class="tablet:grid-col-3">
            <div class="color-swatch info"></div>
            <p class="font-sans-3xs">#e1f3f8<br> $eqrs-alert-information
            </p>
          </div>
          <div class="tablet:grid-col-3">
            <div class="color-swatch error"></div>
            <p class="font-sans-3xs">#f9dede<br> $eqrs-alert-error
            </p>
          </div>
          <div class="tablet:grid-col-3">
            <div class="color-swatch warning"></div>
            <p class="font-sans-3xs">#fff1d2<br> $eqrs-alert-warning
            </p>
          </div>
          <div class="tablet:grid-col-3">
            <div class="color-swatch success"></div>
            <p class="font-sans-3xs">#e7f4e4<br> $eqrs-alert-success
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>
