<h1> Add/Remove fields </h1>
<hr>

<p> The default deadline for ICH CAHPS is January 31st of each year, and the default deadline for clinical depression is February 28th of each year unless updated by CMS. </p>

<fieldset *ngFor="let choice of choices; let i=index;">

  <div class="row mb-4" id="deadlinesrow">

    <div class="col-md-12 col-lg-2 pl-0">
      <div class="eqrs-label eqrs-input-wrapper  row">
        <label class="col-xs-12 col-lg-12 pl-0"> Measure </label>
        <select class="eqrs-select col-md-11" name="options" id="measure">
          <option value="value1">---</option>
          <option value="value1">ICH-CAHPS</option>
          <option value="value2">Clinical depression</option>
          <option value="value3">All measures</option>
        </select>
      </div>
    </div>   <!-- .col-md-3 ends here-->

    <div class="col-md-12 col-lg-2 pl-0">
      <div class="eqrs-label eqrs-input-wrapper  row">
        <label class="col-xs-12 col-lg-12 pl-0">Filter type</label>
        <select class="eqrs-select col-md-11" name="options" id="filtertype">
          <option value="value1">---</option>
          <option value="include">Include</option>
          <option value="exclude">Exclude</option>
        </select>
      </div>
    </div>  <!-- .col-md-3 ends here-->


    <div class="col-md-12 col-lg-2 pl-0">
      <div class="eqrs-label eqrs-input-wrapper  row">
        <label class="col-xs-12 col-lg-12 pl-0"> Options </label>
        <select class="eqrs-select col-md-11" name="options" id="options">
          <option value="value1">---</option>
          <option value="value1"> City </option>
          <option value="value3"> State </option>
          <option value="value1"> Zip code </option>
          <option value="value3"> Network </option>
          <option value="value1"> Ownership </option>
          <option value="value3"> Facility </option>
          <option value="value3"> All Facilities </option>
        </select>
      </div>
    </div>  <!-- .col-md-3 ends here-->


    <div class="col-md-12 col-lg-2 pl-0">
      <div class="eqrs-input-wrapper">
        <label class="col-xs-12 col-lg-12" for="input-inactive"> Criteria</label>
        <div class="eqrs-input-container">
          <input class="eqrs-input col-md-11" id="input-inactive" name="input-inactive" type="text" aria-describedby="input-inactive">
        </div>
      </div>
    </div>   <!-- .col-md-3 ends here-->

    <div class="col-md-12 col-lg-2 pl-0">
      <div class="eqrs-input-wrapper">
        <label class="col-xs-12 col-lg-12" for="date-disabled"> Select deadline</label>
        <div class="eqrs-input-container input-group date" id="datetimepicker1">
          <input class="eqrs-input col-md-11" id="date-disabled"
                 name="input-inactive" type="text" aria-describedby="input-inactive"
                 ngbDatepicker>
            <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>   <!-- .col-md-2 ends here-->

    <div class="col-md-12 col-lg-2">
      <div class="eqrs-input-wrapper">
        <button *ngIf="i == 0" class="btn btn-add" type="button" (click)="addNewChoice()">
          <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
        </button>

        <button *ngIf="i !=0" class="btn btn-add" type="button" (click)="choices.splice(i,1)">
          <i class="fa fa-minus-square fa-2x" aria-hidden="true"></i>
        </button>

      </div>
    </div>   <!-- .col-md-2 ends here-->

  </div>  <!-- .row ends here -->
</fieldset>

  <!--<div class="row mt-3 ml-0 pr-4 pull-right deadlines-button">-->
    <!--<div class="col-md-2">-->
      <!--<button class="eqrs-button-primary"> Review </button>-->
    <!--</div>-->
  <!--</div>-->
<div class="col-md-12">
  <button class="btn code-button mt-2 ml-2 mr-5 pull-right" (click) = "addRemoveLineTsShow = !addRemoveLineTsShow; addRemoveLineHtmlShow = false;"> View typescript code <i class="fa fa-code" aria-hidden="true"></i> </button>
  <button class="btn code-button mt-2 pull-right" (click) = "addRemoveLineHtmlShow = !addRemoveLineHtmlShow; addRemoveLineTsShow= false;"> View html code <i class="fa fa-code" aria-hidden="true"></i> </button>
</div>

<div class="col-md-12 code-block">

    <div *ngIf="addRemoveLineHtmlShow">
      <ngx-prism [language]="cssLanguage">
        {{addRemoveLineHtmlContent}}
      </ngx-prism>
    </div>

    <div *ngIf="addRemoveLineTsShow">
      <ngx-prism [language]="cssLanguage">
        {{addRemoveLineTsContent}}
      </ngx-prism>
    </div>
</div>
