<h1 #scroll> Radio buttons </h1>
<hr>

<div class="card col-md-9">
  <div class="card-body">
    <fieldset>
      <legend class="eqrs-label">Radio label (legend)</legend>
      <ul class="eqrs-list">
        <li>
          <input id="stanton" type="radio" name="historical-figures-2" value="stanton">
          <label for="stanton">Elizabeth Cady Stanton</label>
        </li>
        <li>
          <input id="anthony" type="radio" name="historical-figures-2" value="anthony">
          <label for="anthony">Susan B. Anthony</label>
        </li>
        <li>
          <input id="tubman" type="radio" name="historical-figures-2" value="tubman">
          <label for="tubman">Harriet Tubman</label>
        </li>
      </ul>
    </fieldset>

    <button class="btn code-button mt-3 pull-right" (click) = "radioShow = !radioShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
      <div>
        <div *ngIf="radioShow">
          <ngx-prism [language]="cssLanguage">
            {{radioShowContent}}
          </ngx-prism>
        </div>
      </div>
    </div>

  </div>
</div>  <!-- card ends here -->


<div class="card col-md-9">
  <div class="card-body">
    <fieldset>
      <legend class="eqrs-label">Radio disabled</legend>

      <ul class="eqrs-list">
        <li>
          <input id="stanton-disabled-2" type="radio" checked name="historical-figures-3" value="stanton-disabled-2" disabled>
          <label for="stanton-disabled-2">Elizabeth Cady Stanton</label>
        </li>
        <li>
          <input id="anthony-disabled-2" type="radio" name="historical-figures-3" value="anthony-disabled-2" disabled>
          <label for="anthony-disabled-2">Susan B. Anthony</label>
        </li>
        <li>
          <input id="tubman-disabled-2" type="radio" name="historical-figures-3" value="tubman-disabled-2" disabled>
          <label for="tubman-disabled-2">Harriet Tubman</label>
        </li>
      </ul>
    </fieldset>

    <button class="btn code-button mt-3 pull-right" (click) = "radioDisabledShow = !radioDisabledShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
      <div>
        <div *ngIf="radioDisabledShow">
          <ngx-prism [language]="cssLanguage">
            {{radioDisabledContent}}
          </ngx-prism>
        </div>
      </div>
    </div>

  </div>
</div>  <!-- card ends here -->

<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/progressindicator']"> <i class="fa fa-chevron-left"></i> Previous: <b>Progress Indicator</b> </span>
    <span [routerLink] = "['/search']" class="pull-right"> Next: <b>Search</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>
</div>
