<!-- this file uses USWDS classes -- see designsystem.digital.gov -->

<div class="esrd-ds-container padding-top-2 grid-row">

  <div class="tablet:grid-col-2 padding-right-4 padding-bottom-4">
    side navigation coming soon!
  </div>

  <div class="tablet:grid-col-10 padding-top-105 padding-bottom-4">
    <h2>What is the design system?</h2>
    <p>A design system is a set of visual and coded components that can be used like Lego blocks to rapidly develop and release products that:</p>

    <ul>
      <li>Have clean, accessible and compliant code</li>
      <li>Are visually and functionally consistent</li>
      <li>Serve as a single source of truth for what’s “correct” or best practice</li>
    </ul>

    <p>The ESRD Design System (ESRD-DS) is a nascent system that serves the ESRD/EQRS communities. It includes:</p>

    <ul>
      <li>A public-facing UI, found at <a href="https://cmsgov.github.io/eqrs-design-system/">https://cmsgov.github.io/eqrs-design-system/</a></li>
      <li>A public Github repository, found at: <a href="https://github.com/CMSgov/eqrs-design-system">https://github.com/CMSgov/eqrs-design-system</a></li>
    </ul>

    <p>Coming soon:</p>
    <ul>
      <li>A Sketch file containing visual assets</li>
      <li>An NPM package for inclusion into your project</li>
    </ul>

    <h3>Who should use the design system?</h3>
    <p>ESRD-DS is primarily intended to help facilitate design and development, so the primary users are ESRD designers and engineers. However, it can also be used by testers to validate visual and code implementation.</p>

    <h3>Who should contribute to the design system?</h3>
    <p>ESRD-DS is open for pull requests from the broader Github community, per guidelines laid out in this document. We expect contributions primarily from the ESX team and EQRS developers. Suggestions, requests, and feedback should be <a href="https://github.com/CMSgov/eqrs-design-system/issues">submitted as Github issues</a>.</p>

    <h3>Who’s responsible for maintenance?</h3>
    <p>ESRD-DS is maintained by the Shared Excellence team at ManTech.</p>

    
  </div>

</div>
