<h1 #scroll> Alerts </h1>
<hr>

<p> Alerts </p>


<!-- SUCCESS STATUS -->
<div class="card col-md-9">
  <div class="card-body">
    <div class="eqrs-alert-success  col-md-12 mb-0">
      <div class="eqrs-alert-body">
        <h4 class="eqrs-alert-heading">Success status</h4>
        <p>Displays when database change is successful.</p>
      </div>
    </div>

    <!-- <button class="btn code-button mt-3 pull-right" (click) = "successShow = !successShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
    <div class="col-md-12 code-block">
      <div>
      <div *ngIf="successShow">
        <ngx-prism [language]="cssLanguage">
          {{successStatusContent}}
        </ngx-prism>
      </div>
      </div>
    </div> -->

    <!-- <app-alert-message 
    [heading]="'Success status'"
    [alertMessages]="Displays when database change is successful."
    [alertType]="'success'"
    ></app-alert-message> -->
    
    

    <button class="btn code-button mt-3 pull-right" (click) = "successShowAngular = !successShowAngular"> View Angular code <i class="fa fa-code" aria-hidden="true"></i> </button>
    <div class="col-md-12 code-block">
      <div>
      <div *ngIf="successShowAngular">
        <!-- <ngx-prism [language]="cssLanguage">
          {{successStatusContentAngular}}
        </ngx-prism> -->
        <pre>
            <code [highlight]="successStatusContentAngular" [lineNumbers]="true" [languages]="cssLanguage" ></code>
        </pre>
      </div>
      </div>
    </div>

  </div>
</div>  <!-- card ends here -->


<!-- WARNING STATUS -->
    <div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-warning  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Warning status</h4>
            <p>Displays when database change results in error but we allow user to temporarily persist the bad data. User action will eventually be needed to correct the bad data.</p>
          </div>
        </div>

        <button class="btn code-button mt-2 pull-right" (click) = "warningShow = !warningShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div class="col-md-12 code-block">
          <div>
          <div *ngIf="warningShow">
            <!-- <ngx-prism [language]="cssLanguage">
             {{warningStatusContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="warningStatusContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
         </div>
        </div>

    </div>
  </div>  <!-- card ends here -->


<!-- ERROR STATUS -->
<div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-error col-md-12" role="alert">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error status</h4>
            <p>Displays when database change fails. User action needed in order to save.</p>
          </div>
        </div>

<button class="btn code-button mt-2 pull-right" (click) = "errorShow = !errorShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
          <div>
          <div *ngIf="errorShow">
            <!-- <ngx-prism [language]="cssLanguage">
             {{errorStatusContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="errorStatusContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
         </div>
        </div>

      </div>
      </div> <!-- card ends here -->


<!-- ERROR MULTI-LINE STATUS -->
<div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-error  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error multi-line</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <ul>
              <li>This is item A</li>
              <li>This is item B</li>
              <li>This is item C</li>
              <ul>
          </ul></ul></div>
        </div>

<button class="btn code-button mt-2 pull-right" (click) = "errorMultilineShow = !errorMultilineShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

        <div class="col-md-12 code-block">
          <div>
          <div *ngIf="errorMultilineShow">
            <!-- <ngx-prism [language]="cssLanguage">
             {{errorMultilineContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="errorMultilineContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
         </div>
        </div>

      </div>
      </div>    <!-- card ends here -->


  <!-- ERROR SINGLE-LINE STATUS -->
<div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-error  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Error single line</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <ul class="eqrs-single-list-item">
              <li>This is item A</li>
              </ul>
            </div>
        </div>

<button class="btn code-button mt-2 pull-right" (click) = "errorSinglelineShow = !errorSinglelineShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

       <div class="col-md-12 code-block">
          <div>
          <div *ngIf="errorSinglelineShow">
            <!-- <ngx-prism [language]="cssLanguage">
             {{errorSinglelineContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="errorSinglelineContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
         </div>
        </div>

      </div>
      </div>  <!-- card ends here -->


<!-- INFORMATION STATUS -->
<div class="card col-md-9">
  <div class="card-body">
        <div class="eqrs-alert-information  col-md-12">
          <div class="eqrs-alert-body">
            <h4 class="eqrs-alert-heading">Information status</h4>
            <p>Displays when feedback should be provided to the user. No user action needed.</p>
          </div>
        </div>

<button class="btn code-button mt-2 pull-right" (click) = "informationShow = !informationShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

       <div class="col-md-12 code-block">
          <div>
          <div *ngIf="informationShow">
            <!-- <ngx-prism [language]="cssLanguage">
             {{informationStatusContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="informationStatusContent" [lineNumbers]="true" [languages]="cssLanguage" ></code>
            </pre>
          </div>
         </div>
        </div>

      </div>
      </div>  <!-- card ends here -->



<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/eqrs-design-system/accordion']"> <i class="fa fa-chevron-left"></i> Previous: <b>Accordion</b> </span>
    <span [routerLink] = "['/eqrs-design-system/buttons']" class="pull-right"> Next: <b>Buttons</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>

</div>


