.eqrs-button-dropdown {
    cursor: pointer;
    margin-top: 0.75rem;
    background: #205493;
    color: #fff;
    border: 2px solid #fff;
  }
  
  
  .eqrs-button-dropdown::after {
    display: none;
  }
  
  .eqrs-button-dropdown:hover, .eqrs-button-dropdown:focus {
      color: #205493 !important;
      background-color: #fff !important;
      border: 2px solid #205493 !important;
  }
  
  .eqrs-button-dropdown-menu {
      background: #f1f1f1;
  }
  
  .eqrs-button-dropdown-menu a {
      color: #205493;
  }