<h1 #scroll>Dropdown</h1>
<hr>

<!-- <div class="card col-md-10">
  <div class="card-body">
    <h4 class="pt-0 pb-3">Dropdown button</h4>
    
    
    <div class="dropdown" ngbDropdown>
      <button ngbDropdownToggle class="btn btn-secondary dropdown-toggle eqrs-button-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add new <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-menu eqrs-button-dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#"><i class="fa fa-plus" aria-hidden="true"></i>  Facility</a>
      </div>
    </div>





<button class="btn code-button mt-2 pull-right" (click) = "dropdownButtonShow = !dropdownButtonShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

     <div class="col-md-12 code-block">
          <div>
          <div *ngIf="dropdownButtonShow">
            <ngx-prism [language]="cssLanguage">
             {{dropdownButtonContent}}
            </ngx-prism>
          </div>
         </div>
        </div>

  </div>
</div>   -->
<!-- card ends here -->

<!-- Custom Select Input -->
<div class="card col-md-10">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Dropdown Component Basic</h4>
  
      <app-eqrs-dropdown id="uniqueId" name="uniqueName" formControlName="selectFormOneControl" [options]="selectOptions">
      </app-eqrs-dropdown>
      
      <button class="btn code-button mt-3 pull-right" (click) = "selectInputOneShow = !selectInputOneShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
    
      <div class="col-md-12 code-block">
        <div>
          <div *ngIf="selectInputOneShow">
            <!-- <ngx-prism [language]="cssLanguage">
              {{selectInputOneContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="selectInputOneContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="card col-md-10">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Dropdown Component Full</h4>
  
        <app-eqrs-dropdown id="uniqueIdTwo" name="uniqueNameTwo" formControlName="selectFormTwoControl" [options]="selectOptionsTwo" 
          (change)="onChange()" ariaLabel="Some Other Label" idName="referenceTypeCode" descriptionName="referenceTypeDesc">
        </app-eqrs-dropdown>
  
        <button class="btn code-button mt-3 pull-right" (click) = "selectInputTwoShow = !selectInputTwoShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
      
        <div class="col-md-12 code-block">
          <div>
            <div *ngIf="selectInputTwoShow">
              <!-- <ngx-prism [language]="cssLanguage">
                {{selectInputTwoContent}}
              </ngx-prism> -->
              <pre>
                  <code [highlight]="selectInputTwoContent" [lineNumbers]="true"  ></code>
              </pre>
            </div>
          </div>
        </div>
    </div>
  </div>
  
  <!-- PREVIOUS NEXT -->
  
  <div class="row row-previous-next ml-0 mt-5">
    <div class="col-lg-12">
      <span [routerLink] = "['/eqrs-design-system/datatable']"> <i class="fa fa-chevron-left"></i> Previous: <b>Datatable</b> </span>
      <span [routerLink] = "['/eqrs-design-system/inputs']" class="pull-right"> Next: <b>Inputs</b> <i class="fa fa-chevron-right"></i> </span>
    </div>

    <div class="col-lg-3 pull-right">
      <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
    </div>
  </div>