<!-- make this whole baby global-->
<header>
  <h1>ESRD system</h1>
  <button class=''>Download design files</button>
  <button class=''>View code on Github</button>
  <nav>
    <ul>
      <li><a routerLink=''>How to use ESRD:DS</a></li>
      <li><a routerLink=''>Design Principles</a></li>
      <li><a routerLink=''>Style Guide</a></li>
      <li><a routerLink=''>Components</a></li>
      <li><a routerLink=''>Governance</a></li>
      <li><a routerLink=''>About</a></li>
    </ul>
  </nav>
</header>
