<!-- this file uses USWDS classes -- see designsystem.digital.gov -->
<header class='padding-top-2'>

  <div class='esrd-ds-container height-8'>
    <h1 class='float-left'><a class='esrd-ds-header-link' routerLink="">ESRD Design System</a></h1>
    <div class='float-right padding-top-05'>
      <a href='' class='usa-button usa-button--outline usa-button--inverse'>Download design files</a>
      <a href="https://github.com/CMSgov/eqrs-design-system" target="_blank" class='usa-button usa-button--outline usa-button--inverse'>View code on Github</a>
    </div>
  </div>

  <nav class='float-none margin-top-1 padding-top-2 padding-bottom-05'>
    <ul class='padding-left-0'>
      <li><a routerLink='principles'>How to use ESRD:DS</a></li>
      <li><a routerLink='principles'>Design Principles</a></li>
      <!-- you've removed accessibility; put it back -->
      <li><a routerLink='style-guide'>Style Guide</a></li>
      <li><a routerLink='components'>Components</a></li>
      <li><a routerLink='governance'>Governance</a></li>
      <li><a routerLink='about'>About</a></li>
    </ul>
  </nav>
</header>
