<h1 #scroll> Checkbox </h1>
<hr>

<div class="card col-md-9">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Checkbox Component Basic</h4>
      
       <app-eqrs-checkbox id="someUniqueId" name="someUniqueName" formControlName="checkboxFormOneControl" 
        [options]="checkboxOptions"
       >
      </app-eqrs-checkbox>
        
      <button class="btn code-button mt-3 pull-right" (click) = "customCheckboxOneShow = !customCheckboxOneShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button> 
  
      <div class="col-md-12 code-block">
        <div>
          <div *ngIf="customCheckboxOneShow">
            <!-- <ngx-prism [language]="cssLanguage">
              {{customCheckboxOneContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="customCheckboxOneContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card col-md-9">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Checkbox Component Full</h4>
  
      <app-eqrs-checkbox id="someUniqueIdTwo" name="someUniqueNameTwo" formControlName="checkboxFormTwoControl"
        valueProperty="otherValuePropertyName" descriptionProperty="otherDescriptionPropertyName" 
        [options]="checkboxOptionsTwo" [required]="true" disableAllSelectedValue="1">
      </app-eqrs-checkbox>
      
      <button class="btn code-button mt-3 pull-right" (click) = "customCheckboxTwoShow = !customCheckboxTwoShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
  
      <div class="col-md-12 code-block">
        <div>
          <div *ngIf="customCheckboxTwoShow">
            <!-- <ngx-prism [language]="cssLanguage">
              {{customCheckboxTwoContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="customCheckboxTwoContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
    <div class="col-lg-9">
      <span [routerLink] = "['/eqrs-design-system/buttons']"> <i class="fa fa-chevron-left"></i> Previous: <b>Buttons</b> </span>
      <span [routerLink] = "['/eqrs-design-system/datatable']" class="pull-right"> Next: <b>Data Table</b> <i class="fa fa-chevron-right"></i> </span>
    </div>
  
    <div class="col-lg-3 pull-right">
      <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
    </div>
  
</div>