<h1 #scroll>Data Table</h1>
<!-- <div class="row container-fluid"> -->

<div class="card col-md-10">
    <div class="card-body">
      <h4 class="pt-0 pb-3">Dynamic Data Table</h4>
      <dynamic-datatable [data]="fakeData"
            caption="This table contains a list of names. The data displayed for each position is listed in the following columns: Id, Name"
            [showCaption]="false" emptyMessage="No Results Found" [searchFilter]="false" [externalSearch]="false">
            <dynamic-column field="id" header="Id" id="id-column"
                [searchField]="false" [sortable]="true">
                <ng-template dynamicTemplate  let-column="column" let-index="index" let-rowIndex="rowIndex"
                    let-selectedName="data" type="cell">
                    <div style="text-decoration: underline">
                        <i>{{selectedName.id}}</i>
                    </div>
                </ng-template>
            </dynamic-column>
            <dynamic-column field="name" header="Name"
                id="name-column" [searchField]="false" [sortable]="true">
            </dynamic-column>
                <pagination [pageSizes]="[10,25,50,100]" [numberOfPageOptions]="4"></pagination>
        </dynamic-datatable>
    
      <button class="btn code-button mt-3 pull-right" (click) = "showDynamicTable = !showDynamicTable"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>
    
      <div class="col-md-12 code-block">
        <div>
          <div *ngIf="showDynamicTable">
            <!-- <ngx-prism [language]="cssLanguage">
              {{dynamicTableContent}}
            </ngx-prism> -->
            <pre>
                <code [highlight]="dynamicTableContent" [lineNumbers]="true"  ></code>
            </pre>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/eqrs-design-system/checkbox']"> <i class="fa fa-chevron-left"></i> Previous: <b>CheckBox</b> </span>
    <span [routerLink] = "['/eqrs-design-system/dropdown']" class="pull-right"> Next: <b>Dropdown</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>

</div>