/* You can add global styles to this file, and also import other style files */
/* This is the app's base SCSS file */
/**
 * CONTENTS
 *
 * CSS TO IMPORT
 * Variables............Globally-available variables and config.
 * Base styles..........Global body styles.
 * Headings.............H1 - H6 styles.
 * Buttons..............Button styles.
 * Alerts...............Alert styles.
 * Inputs...............Input styles.
 *
 * CSS SPECIFIC TO ONLINE STYLE GUIDE
 *
 */

/*----------------------------------------------*\
  #CSS TO IMPORT
\*----------------------------------------------*/

/* Import USWDS */
@import '~uswds/dist/css/uswds';

/* Import from libs/assets/styles/_styles */
@import '../src/libs/styles/styles';
@import '../src/libs/styles/styles-new';

@import '~highlight.js/styles/rainbow.css';

/*------------------------------------*\
  #VARIABLES
\*------------------------------------*/


/*------------------------------------*\
  #GLOBAL DS - These pertain to the
  system's UI, not to the components
\*------------------------------------*/

.esrd-ds-container {
  margin: 0 auto;
  width: 90%;
}

.esrd-ds-header-link {
  color: white;

  &:hover {
    color: rgba(white, 80%);
  }

  &:visited {
    color: white;
  }
}

/*------------------------------------*\
  #BASE STYLES
\*------------------------------------*/

body {
  font-family: $eqrs-sans-serif-font-family;
}

.eqrs-detail-copy {
  font-size: .77rem;
}

.eqrs-display-text {
  font-family: $eqrs-serif-font-family;
  font-weight: 400;
  font-size: 2.88rem;
  line-height: 1.3em;
}

/*------------------------------------*\
  #ALERTS TO DO:
  these images should be set in _eqrs-style.scss
\*------------------------------------*/

.eqrs-alert-success {
    background-image: url("./libs/assets/images/success.png");
    background-image: url("./libs/assets/images/success.svg");
}

.eqrs-alert-warning {
    background-image: url("./libs/assets/images/warning@3x.png");
    background-image: url("./libs/assets/images/warning.svg");
}

.eqrs-alert-error {
    background-image: url("./libs/assets/images/error@3x.png");
    background-image: url("./libs/assets/images/error.svg");
}

.eqrs-alert-information {
    background-image: url("./libs/assets/images/info@3x.png");
    background-image: url("./libs/assets/images/info.svg");
}


/*------------------------------------*\
  #INPUTS
\*------------------------------------*/

@mixin input {
    height: 44px !important;
    font-family: $eqrs-sans-serif-font-family;
    font-size: 1rem;
    border-radius: $eqrs-border-radius;
    border: 1px solid $eqrs-tertiary-color !important;
    width: 100%;

    &::-ms-clear { //specific for IE 11 styling
        display: none;
    }

    &::-webkit-input-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &::-moz-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &::-ms-input-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &:focus{
        outline: 0px;
        box-shadow: $eqrs-box-shadow;
    }

    &:disabled {
        background-color: $eqrs-tertiary-color;
        color: $eqrs-text-color;
    }

    &:disabled:hover {
        cursor: not-allowed;
    }
}


.eqrs-input {
    @include input;
}

input[type="text"] {
    height: 44px !important;
}


.eqrs-input-container {
    margin-left: auto;
}


.eqrs-input-wrapper {
    label {
        padding-left: inherit;
    }
}


/*------------------------------------*\
  #LABELS
\*------------------------------------*/

.eqrs-label {
    font-family: $eqrs-sans-serif-font-family;
    padding-left: inherit;
    font-size: 1rem;
    margin-bottom: auto;
    white-space: nowrap;
}

.eqrs-label-error {
    padding-left: 0;
    color: $eqrs-alert-color;
}

.eqrs-input-error-border {
    border: 1px solid $eqrs-alert-color !important;
}

.eqrs-input-error-message {
    color: $eqrs-alert-color;
    padding-bottom: 10px;
    margin-left: -15px;
    padding-left: 45px;
    font-weight: 700;
    max-width: 35em;
    margin-top: auto;
    /*   margin-bottom: auto; */
    background-image: url("./libs/assets/images/error-red@3x.png");
    background-image: url("./libs/assets/images/error-red.svg");
    background-position: left 1.3rem top;
    background-repeat: no-repeat;
    background-size: 1rem;
}

/*------------------------------------*\
  #INPUT: SELECT
\*------------------------------------*/

@mixin select {
    border: 1px solid $eqrs-tertiary-color;
    border-radius: $eqrs-border-radius;
    height: 44px;
    background-color: #fff;
    background-image: url("./libs/assets/images/chevron-down@3x.png");
    background-image: url("./libs/assets/images/chevron-down.svg");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 0.6rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding-right: 30px;

    &::-ms-expand {
        display: none;
    }

    &:focus {
        outline: none;
        box-shadow: $eqrs-box-shadow;
    }

    &:hover {
        cursor: pointer;
    }

    &:disabled {
        background-color: $eqrs-tertiary-darker;
        color: $eqrs-text-color;
        cursor: not-allowed;

        &:hover {
            cursor: not-allowed;
        }
    }
}

.eqrs-select {
    @include select;
}

/*------------------------------------*\
  #INPUT: SEARCH
\*------------------------------------*/

.eqrs-search {
    @include input;
    background-color: transparent;
}

.eqrs-search-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: inherit;
}

.fa-search {
    position: absolute;
    color: $eqrs-primary-color;
    pointer-events: none;


    // Fix for IE 11
    right: 0px;
    top: 13px;
    margin-right: 10px;
}

.search-input-padding{
    padding-right: 40px !important;
}

.pad-top-10 {
    padding-top: 10px;
}

.pad-top-15 {
    padding-top: 15px;
}


/*------------------------------------*\
  #INPUT: RADIO
\*------------------------------------*/

.eqrs-list { /* also used for checkboxes */
    list-style-type: none;
    padding-left: 5px;
}

.eqrs-list li{
    list-style-type: none;
    padding-left: 5px;
}


[type=checkbox],
[type=radio] {
    opacity: 0;
    position: absolute;
}

[type=checkbox] + label,
[type=radio] + label {
    cursor: pointer;
    font-weight: 400;
    margin-top: .5rem;
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}

[type=checkbox] + label::before,
[type=radio] + label::before {
    background: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0 0 1px #757575;
    content: '';
    display: inline-block;
    height: 1.8rem;
    width: 1.8rem;
    line-height: 1.8rem;
    margin-right: 0.6em;
    text-indent: 0.15em;
    vertical-align: middle\0;
}

[type=radio] + label::before {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 3px #757575;
    height: 1rem;
    line-height: 1rem;
    width: 1rem;
    border-radius: 100%;
    min-width: 1rem;
}

[type=checkbox]:checked + label::before,
[type=radio]:checked + label::before {
    background-color: $eqrs-primary-color;
    box-shadow: 0 0 0 1px $eqrs-primary-color;
}

[type=radio]:checked + label::before {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $eqrs-primary-color;
}

[type=radio]:focus + label::before {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $eqrs-primary-color, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf;
}




/*------------------------------------*\
  #INPUT: CHECKBOX
  the system's components ARE using these
\*------------------------------------*/

[type=checkbox]:focus + label::before {
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #0071bc, 0 0 3px 4px #3e94cf, 0 0 7px 4px #3e94cf;
}


[type=radio]:disabled:checked + label::before {
    background: $eqrs-tertiary-color;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $eqrs-tertiary-color;
    cursor: not-allowed;
}

[type=checkbox]:disabled:checked + label::before {
    background: $eqrs-tertiary-darkest;
    box-shadow: 0 0 0 1px $eqrs-tertiary-color;
    cursor: not-allowed;
}


[type=checkbox]:disabled:not(:checked) + label::before {
    background: $eqrs-tertiary-darkest;
    box-shadow: 0 0 0 1px $eqrs-tertiary-color;
    cursor: not-allowed;
}

[type=radio]:disabled:not(:checked) + label::before {
    background: #fff;
    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $eqrs-tertiary-color;
    cursor: not-allowed;
}


input[type="radio"]:disabled + label {
    cursor: not-allowed;
}

input[type="checkbox"]:disabled + label {
    cursor: not-allowed;
}


[type=checkbox] + label::before {
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0 0 0 1px #757575;
    content: '';
    display: inline-block;
    height: 1.2rem;
    width: 1.2rem;
    line-height: 1.8rem;
    margin-right: 0.6em;
    text-indent: 0.15em;
    vertical-align: middle\0;
}

[type=checkbox]:checked + label::before,
[type=checkbox]:checked:disabled + label::before {
    background-image: url("./libs/assets/images/checked@3x.png");
    background-image: url("./libs/assets/images/checked.svg");
    background-position: center;
    background-size: 1rem;
    background-repeat: no-repeat;
}


.checkbox-container {
    margin: auto;
}

[type=checkbox] + label.eqrs-label-error::before{
    border: 1px solid $eqrs-alert-color !important;
}

/*------------------------------------*\
  #INPUT: DATE
\*------------------------------------*/

.eqrs-date {
    display: inline-flex;
}

.eqrs-date label {
    font-size: .777rem;
    margin-bottom: auto;
}

.eqrs-month, .eqrs-day {
    max-width: 5rem;
}

.eqrs-year {
    max-width: 7rem;
}


input[type=text], select {
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 1rem;

    &::-webkit-input-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &::-moz-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &::-ms-input-placeholder {
        font-weight: 200;
        color: $eqrs-secondary-color;
    }

    &:focus {
        outline: none;
        box-shadow: $eqrs-box-shadow;
    }
    &:disabled {
        background-color: $eqrs-tertiary-color;
        color: $eqrs-text-color;
    }

    &:disabled:hover {
        cursor: not-allowed;
    }
}

/*------------------------------------*\
  #INPUT: AUTOSUGGEST
\*------------------------------------*/

.eqrs-autosuggest {
    @include input;
    padding-left: 10px;
}

.suggestions {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    position: absolute; /* use absolute for angular component */

    width: 200%; /*IE Fix*/

    width: max-content;
    min-width: 100%;
    max-width: 50vw;
    background: white;
    z-index: 2;


    @media screen and (max-width: 992px){
        max-width: 75vw;
    }
}

.suggestions ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px
}

.suggestions ul li {
    padding:5px;
    display: block;
    text-decoration: none;
}

:-ms-input-placeholder { /*IE 10+*/
    color: #ccc;
}


.suggestions ul li:hover {
    background-color: $eqrs-focus-alt;
}

.highlighted-row {
    background-color: $eqrs-background-color;
}


input[type=text]:disabled {
    background-color: $eqrs-tertiary-darker;
}


.scrollbar ul {
    overflow: hidden;
    overflow-y:inherit;
    -webkit-rtl-ordering: logical;
    //float: left;
    max-height: 10rem;
    //margin-bottom: 25px;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
       // background-color: none;
    }
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 10px;
      // background-color: none;

    }&::-webkit-scrollbar-thumb {
         border-radius: 10px;
         background-color: #D6D7D9 ;
     }
}


.scrollbar li {
    &:focus {
        background-color: $eqrs-background-color;
    }
    cursor:pointer;

}

.show-above {
    bottom: 34% !important;
}

.eqrs-autosuggest-focus{
    background-color: $eqrs-focus-alt;
}

.eqrs-bottom-message{
    pointer-events: none;
    font-style: italic;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 15px;
}

/*---------------------*\
  # TABLE STYLES
\*---------------------*/

.eqrs-table-row-height thead th, .eqrs-table-row-height tbody td {
    padding: 0.30rem;
}


.dropdown-toggle::after {
    content: initial !important;
}

.required {
    color:red;
}
