/* START HERE */

// USWDS is imported in libs/styles/index.scss

/* Import from libs/assets/styles/_styles */
/* This applies styles to the components themselves
/* as well as some of the design system's UI (uswds) */
@import '../src/libs/styles/index';

// what's this?
@import '~highlight.js/styles/rainbow.css';

/*------------------------------------*\
  #GLOBAL DS - These pertain to the
  system's UI, not to the components
\*------------------------------------*/

.esrd-ds-container {
  margin: 0 auto;
  width: 90%;
}

.esrd-ds-header-link {
  color: white;

  &:hover {
    color: rgba(white, 80%);
  }

  &:visited {
    color: white;
  }
}
