<h1 #scroll> Checkbox </h1>
<hr>

<!-- CHECKBOX -->
<div class="card col-md-9">
  <div class="card-body">
    <fieldset class="checkbox-container  row">

      <legend class="eqrs-label">Checkbox label</legend>

      <ul class="eqrs-list  col-sm-12 col-md-8 col-xl-8">
        <li>
          <input id="truth" type="checkbox" name="historical-figures-1" value="truth" checked>
          <label for="truth">Sojourner Truth</label>
        </li>
        <li>
          <input id="douglass" type="checkbox" name="historical-figures-1" value="douglass">
          <label for="douglass">Frederick Douglass</label>
        </li>
        <li>
          <input id="washington" type="checkbox" name="historical-figures-1" value="washington">
          <label for="washington">Booker T. Washington</label>
        </li>
      </ul>

    </fieldset>

    <button class="btn code-button mt-3 pull-right" (click) = "checkboxShow = !checkboxShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
      <div>
        <div *ngIf="checkboxShow">
          <ngx-prism [language]="cssLanguage">
            {{checkboxContent}}
          </ngx-prism>
        </div>
      </div>
    </div>

  </div>
</div>   <!-- card ends here -->


<!-- CHECKBOX DISABLED-->
<div class="card col-md-9">
  <div class="card-body">
    <legend class="eqrs-label">Checkbox disabled (Showing previous selection)</legend>

    <fieldset class="checkbox-container  row">

      <ul class="eqrs-list  col-sm-12 col-md-8 col-xl-8">
        <li>
          <input id="truth1" type="checkbox" name="historical-figures-1" value="truth" checked disabled>
          <label for="truth1">Sojourner Truth</label>
        </li>
        <li>
          <input id="douglass1" type="checkbox" name="historical-figures-1" value="douglass" disabled>
          <label for="douglass1">Frederick Douglass</label>
        </li>
        <li>
          <input id="washington1" type="checkbox" name="historical-figures-1" value="washington" disabled>
          <label for="washington1">Booker T. Washington</label>
        </li>
      </ul>

    </fieldset>

    <button class="btn code-button mt-3 pull-right" (click) = "checkboxDisabledShow = !checkboxDisabledShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
      <div>
        <div *ngIf="checkboxDisabledShow">
          <ngx-prism [language]="cssLanguage">
            {{checkboxDisabledContent}}
          </ngx-prism>
        </div>
      </div>
    </div>

  </div>
</div>  <!-- card ends here -->

<!-- DATE INPUT -->
<div class="card col-md-9">
  <div class="card-body">

    <legend class="eqrs-label">Date input</legend>

    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="eqrs-date  row">
          <div class="eqrs-month  col-xs-1 col-sm-4 col-md-4">
            <label>Month</label>
            <input type="text" placeholder="MM" formcontrolname="demoStartDateControl" aria-describedby="demo-start-date-error-message">
          </div>
          <div class="eqrs-day  col-xs-1 col-sm-4 col-md-4">
            <label>Day</label>
            <input type="text" placeholder="DD" formcontrolname="demoStartDateControl" aria-describedby="demo-start-date-error-message">
          </div>
          <div class="eqrs-year  col-xs-3 col-sm-4 col-md-4">
            <label>Year</label>
            <input type="text" placeholder="YYYY" formcontrolname="demoStartDateControl" aria-describedby="demo-start-date-error-message">
          </div>
        </div>
      </div>
    </div>


    <button class="btn code-button mt-3 pull-right" (click) = "dateInputShow = !dateInputShow"> View code <i class="fa fa-code" aria-hidden="true"></i> </button>

    <div class="col-md-12 code-block">
      <div>
        <div *ngIf="dateInputShow">
          <ngx-prism [language]="cssLanguage">
            {{dateInputContent}}
          </ngx-prism>
        </div>
      </div>
    </div>

  </div>
</div>  <!-- card ends here -->

<!-- PREVIOUS NEXT -->

<div class="row row-previous-next ml-0 mt-5">
  <div class="col-lg-9">
    <span [routerLink] = "['/buttons']"> <i class="fa fa-chevron-left"></i> Previous: <b>Buttons</b> </span>
    <span [routerLink] = "['/datatable']" class="pull-right"> Next: <b>Data table</b> <i class="fa fa-chevron-right"></i> </span>
  </div>

  <div class="col-lg-3 pull-right">
    <button class="ml-5 scroll-to-top" (click)="scroll.scrollIntoView({behavior: 'smooth'})"> <span id="toTop" class="fa fa-chevron-circle-up fa-3x"></span> </button>
  </div>
</div>
